.photo img{
    width:100%;
    height:100%;
    background-color: #dbdbdb;
    border-radius:10px;
}
.card-player{
    width: 300px;
     display:grid;
    grid-template-rows: 250px 200px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 5px 5px 10px gray;
    border-radius:10px;
}
.details  p{
font-weight: 600;
}
p span{
    font-weight: 400;

}
.details h3{
    margin-top: 10px;
  text-align: center;

}
button{
    height: 50px;
    border: 1px solid gray;
    border-radius:10px;
    background: transparent none repeat;
    font-size:18px
}
button:hover{
    background-color: #6f42c1;
    box-shadow: 5px 5px 10px gray;
    color: white;
}
